.header-container {
    max-width: 600px; /* Set maximum width */
    margin: 0 auto; /* Center the container horizontally */
  }

.header {
    text-align: center;
    border-radius: 20px; /* Rounded corners */
    padding: 30px; /* Padding inside the border */
    text-align: center; /* Center align text */
    font-size: 32px; /* Font size */
    color: white; /* Text color */
    background-color: #A0D2FC; /* Background color */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Box shadow for depth */
  }
  