body, html, .home-container {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  color: #333;
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5%;
}

.header-left,
.header-right {
  flex: 1;
}

.site-title {
  flex: 0 1 auto;
  font-size: 2.5rem;
  color: #0082e6;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}

.header-links {
  display: flex;
  align-items: center;
  justify-content: flex-end; /* Keeps links on the right */
}

.menu-link:first-child {
  margin-left: 80px; /* Moves the first link to the right */
}

.menu-link {
  padding: 15px 25px; /* Updated padding for a larger appearance */
  text-decoration: none;
  color: #333;
  font-size: 1.2rem; /* Updated font size */
  text-align: center;
  margin-left: 10px;
}

.menu-link:hover {
  background-color: #f0f0f0;
}

.nav-link, .feature-link {
  background-color: #ff9800;
  padding: 10px 15px;
  border-radius: 4px;
  margin-left: 10px;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.feature-link {
  display: inline-block;
  margin: 0 5px;
}

.intro-section, .feature-description {
  padding: 40px 10%;
  text-align: center;
}

.cta-button, .feature-description h2 {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  margin-top: 20px;
  display: inline-block;
}

.feature-description {
  margin-top: 20px;
  background: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.feature-item {
  cursor: pointer;
  transition: transform 0.3s ease, opacity 0.3s ease;
  margin: 20px 0;
  padding: 20px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.feature-item:hover {
  transform: scale(1.03);
}

.active {
  transform: scale(1.1);
  z-index: 10;
}

.fade {
  opacity: 0.3;
}

.home-container, .intro-section {
  position: relative;
  overflow: hidden;
}

.feature-list {
  padding: 0 10%;
}

.feature-item h2, .feature-item p {
  margin: 10px 0;
}

.feature-item i {
  font-size: 2rem;
  display: block;
}
